.form{
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    
    /* display: flex;
    justify-content: center; */
    
}
.label {
    text-align: center;
    height: 30px;
    margin-right: 20px;
}
.formInput {
    height: 20px;
    width: auto;
}